doctype html
html
  head
    title= "Ciklum, Test for UFXMarkets"
    link(rel='stylesheet', href='lib/extjs/resources/css/ext-all.css')
    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript', src='lib/extjs/ext-all.js')
    script.
        Ext.Loader.setConfig({
            enabled:true
        })
    script(type='text/javascript', src='app/app.js')
  body
    block content